.contact {
  margin-bottom: 10px;
}

.experience {
  margin-bottom: 5px;

}

.hide {
  display: none;
}

.show {
  display: block;
}

.contact-name {
  font-weight: 700;
}

.contact-company {
  color: #51d2b7;
  font-weight: 700;
}



