<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../public/styles/top-nav.css" />

<nav>
  <a href="/"><div class="top-nav-link">Index</div></a>
  <a href="/signin"><div class="top-nav-link"> Sign In</div></a>
  <a href="/signup"><div class="top-nav-link"> Sign Up</div></a>
  <a href="/signout"><div class="top-nav-link"> Sign Out</div></a>
</nav>