<div id="header">
  <h1 id="header-text">Sign Up</h1>
</div>

<form name="signinForm" ng-submit="signup()">
  <div>
    <label>First Name: </label>
    <input ng-model="user.firstName" type="text" name="firstName"/>
  </div>
  <div>
    <label>Last Name: </label>
    <input ng-model="user.lastName" type="text" name="lastName"/>
  </div>
  <div>
    <label>Email: </label>
    <input ng-model="user.email" type="text" name="email"/>
  </div>
  <div>
    <label>Password: </label>
    <input ng-model="user.password" type="password" name="password" autocomplete="none"/>
  </div>
  <div>
    <label>Confirm Password: </label>
    <input type="password" name="password_check" autocomplete="none"/>
  </div>
  <div>
    <button>Sign Up</button>
  </div>
    <p>Already have an account?  <a href="#/signin">Sign In!</a></p>

</form>